* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__logo {
    display: inline-block;
    width: 80px;
    height: 40px;
    background-image: url('../../../../public/assets/img/Logo-Chrisjv87.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__image {
    display: inline-block;
    width: 311px;
    height: 542px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/profile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}