<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/main.css">
</head>
<body>
    <a class="header__logo" href="#" aria-label="Logo de [Tu Nombre]"></a>

    <img class="hero__image" src="[URL de tu imagen]" alt="[Descripción de la imagen]" />

    <img class="card__image" src="[URL de tu imagen 1]" alt="[Descripción de la imagen 1]" />
</body>
</html>