<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/main.css">
</head>
<body>
    
    <a class="header__logo" href="#" aria-label="Logo de Marca personal chrisjv87"></a>

    <img class="hero__image" aria-label="Hombre de aprox 29 años con playera verde." />

    <img class="about__image" aria-label="Foto de joven de 29 años">

    <img class="project__image" aria-label="proyecto">

    <img class="skills__icon" aria-label="technologies">

    <img class="certifications__image" aria-label="proyecto">

    <img class="institut__image" aria-label="Platzi">

</body>
</html>