* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__logo {
    display: inline-block;
    width: 80px;
    height: 40px;
    background-image: url('../../../../public/assets/img/Logo-Chrisjv87.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__image {
    display: inline-block;
    width: 311px;
    height: 542px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/profile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about__image {
    display: inline-block;
    width: 311px;
    height: 280px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/profile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project__image {
    display: inline-block;
    width: 279px;
    height: 250px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.skills__icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.institut__image {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.certifications__image {
    display: inline-block;
    width: 279px;
    height: 200px;
    border-radius: 20px;
    background-image: url('../../../../public/assets/img/projects.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}