* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer__links-group {
    width: 343px;
    height: 210px;
    border: 1px solid black;

    .footer__links-title {
        margin: 16px;
    }

    .footer__links-options {
        margin: 16px;
        padding: 0 16px;
        list-style: disc;
    }

    @media(min-width: 768px) {
        width: 346px;
        height: 240px;
    }
    
    @media(min-width: 1440px) {
        width: 440px;
        height: 255px;
    }
}
