<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Certifications</title>
        <link rel="stylesheet" href="../../../../public/css/main.css">
    </head>
    <body>
        <header class="header" id="header"></header>

        <main>
            
            <!-- Lista de certificaciones -->
            <section class="certifications__list">
                <h1 class="certifications__title">Mis certificados</h1>
                <p class="certifications__description">
                    Estas son las certificaciones que he obtenido, avalando mis conocimientos en diferentes tecnologías y áreas de desarrollo.
                </p>
                <div class="certifications__container">
                    <div class="certification__card">
                        <h2 class="certifications__name">Título del Certificado</h2>
                        <img class="certifications__image" aria-label="proyecto">
                        <p class="certifications__issuer">Emitido por: [Plataforma/Organización]</p>
                        <p class="certifications__date">Fecha de emisión: [DD-MM-AAAA]</p>
                        <a class="project__enlace" href="#">Ver certificacion</a>
                    </div>
                </div>
                <h2>Institutos</h2>
                <div class="Institutions__container">
                    <img class="institut__image" aria-label="Platzi">
                </div>
                <!-- Añadir más certificaciones según sea necesario -->
            </section>
        </main>

        <footer class="footer" id="footer"></footer>
        <script src="../../../../public/js/template.js"></script>
    </body>
</html>