@import '../../molecules/socialMedia/socialMedia.scss';
@import '../../atoms/image/images.scss';
@import '../../molecules/cardFooter/cards.scss';


.footer__container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 343px;
    height: 702px;
    border: 1px solid black;

    .footer__social-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 303px;

        .footer__icons {
            width: 195px;
            height: 46px;
            padding: 10px;
            margin: 0;
        }
    }

    .footer__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 574px;
        width: 303px;
    }
}