<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing</title>
        <link rel="stylesheet" href="../../../../public/css/main.css">
    </head>
    <body>
        <header class="header" id="header"></header>

        <main class="hero" id="hero">
            <div class="hero__profile">
                <img class="hero__image" aria-label="Hombre de aprox 29 años con playera verde." />
                <h1 class="hero__title">Hola, soy <br>Christopher Jiménez</h1>
                <p class="hero__subtitle">Desarrollador Frontend</p>
                <a class="hero__button button" href="../projects/project.html">Mis proyectos</a>

            </div>
            <section class="hero__cards" id="card">
                <div class="cards__container">
                    <div class="card__about cards">
                        <a class="card__button button" href="../about/about.html">Acerca de mi</a>
                    </div>
                    <div class="card__projects cards">
                        <a class="card__button button" href="../projects/project.html">Proyectos</a>
                    </div>
                    <div class="card__skills cards">
                        <a class="card__button button" href="../skills/skill.html">Habilidades</a>
                    </div>
                    <div class="card__certifications cards">
                        <a class="card__button button" href="../certifications/certification.html">Certificaciones</a>
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer" id="footer"></footer>
        <script src="../../../../public/js/template.js"></script>
    </body>
</html>