
@import '../../atoms/button/buttons.scss';

.header__options {
    display: inline-block;
    position: relative;
}

.header__options:hover {
    .header__options-menu {
        display: block;
    }
}

.header__options-menu {
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
    top: 100%;
    right: 0;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 0;

    li {
        list-style: none;
        
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &:hover {
        display: block;
    }
}


