
.project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    margin: 16px;
    border: 1px solid black;

    .project__title {
        margin: 24px;
        margin-bottom: 0;
    }

    .project__card {
        display: flex;
        width: 295px;
        margin: 24px;
        flex-direction: column;
        border: 1px solid black;

        .project__buttons {
            display: flex;
            width: 279px;
            margin: 16px 8px 0 8px;
            align-items: center;

            .project__containerImg {
                display: flex;
                width: 211px;
                height: 280px;
                margin: 4px;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
            }
            
            .button__prevBtn, .button__nextBtn {
                height: 30px;
            }
        }
        
        .project__content {
            display: flex;
            width: 263px;
            margin: 16px;
            margin-top: 0;
            flex-direction: column;
            text-align: center;
            gap: 12px;

            .project__links {
                display: flex;
                justify-content: space-evenly;
                margin: 8px;
            }
        }
    }

    @media(min-width: 768px) {
        width: 720px;
        margin: 24px;

        .project__title {
            margin: 32px;
            margin-bottom: 0;
        }

        .project__card {
            width: 656px;
            height: 500px;
            margin: 32px;
            flex-direction: row;
            gap: 16px;

            .project__buttons {
                display: flex;
                width: 324px;
                margin: 24px 0;
                margin-left: 24px;

    
                .project__containerImg {
                    display: flex;
                    width: 264px;
                    height: 400px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid black;
                }
            }

            .project__content {
                display: flex;
                width: 266px;
                margin: 24px;
                margin-left: 0;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 16px;
    
                .project__links {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 12px;
                }
            }
        }

    }

    @media(min-width: 1440px) {
        width: 1376px;
        margin: 32px;

        .project__title {
            margin: 48px;
            margin-bottom: 0;
        }

        .project__card {
            width: 1280px;
            height: 600px;
            margin: 48px;
            margin-top: 32px;
            flex-direction: row-reverse;
            gap: 24px;

            .project__buttons {
                display: flex;
                width: 596px;
                margin: 32px;
                margin-left: 0;

    
                .project__containerImg {
                    display: flex;
                    width: 475px;
                    height: 534px;
                    // align-items: center;
                    // justify-content: center;
                    border: 1px solid black;
                }
            }

            .project__content {
                display: flex;
                width: 596px;
                margin: 32px;
                margin-right: 0;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 24px;
    
                .project__links {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 16px;
                }
            }
        }
    }
}