<section class="skills__container">
    <h1 class="skills__title">My Skills</h1>
    <p class="skills__text">
        A continuación se muestra una lista de las habilidades que he desarrollado a lo largo de mi carrera como desarrollador frontend.
    </p>
    <!-- Sección de habilidades técnicas (frontend, backend, herramientas, etc.) -->
    <section class="skills__technical">
        <h2 class="skills__subtitle">Technical Skills</h2>
        <div class="skills__tlist">
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">HTML</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">CSS</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">JavaScript</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Git</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Diseño Responsivo y Mobile First</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Metodologias de desarrollo (Agile, Scrum)</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Testing y Debbuging</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">English A2 Intermedio MCER</p>
            </div>
            <!-- Añadir más iconos/skills según corresponda -->
        </div>
    </section>
    
    <section class="skills__tools">
        <h2 class="skills__subtitle">Herramientas y Tecnologias</h2>
        <div class="skills__tlist">
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">VS Code</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Sass</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Tailwind CSS</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">React</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Webpack</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">npm</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Figma</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Github</p>
            </div>
            <div class="skills__item">
                <img class="skills__icon" aria-label="technologies">
                <p class="skills__text">Trello</p>
            </div>
            <!-- Añadir más iconos/skills según corresponda -->
        </div>
    </section>

    <!-- Sección de habilidades blandas (soft skills) -->
    <section class="skills__soft">
        <h2 class="skills__subtitle">Soft Skills</h2>
        <ul class="skills__slist">
            <li>Trabajo en equipo</li>
            <li>Comunicación efectiva</li>
            <li>Resolución de problemas</li>
            <li>Trabajo en equipo</li>
            <li>Comunicación efectiva</li>
            <li>Resolución de problemas</li>
            <li>Trabajo en equipo</li>
            <li>Comunicación efectiva</li>
            <li>Resolución de problemas</li>
            <!-- Añadir más soft skills -->
        </ul>
    </section>
</section>