
.img {
    display: inline-block;
    object-fit: cover;
}

.hero__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.about__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.project__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.skills__icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');
}

.certification__image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}