* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__logo {
    width: 80px;
    height: 40px;
    background-image: url('../assets/img/Logo-Chrisjv87.svg');

    @media(min-width: 768px) {
        width: 100px;
        height: 50px;
    }

    @media(min-width: 1440px) {
        width: 120px;
        height: 60px;
    }
}

.hero__image {
    width: 311px;
    height: 542px;
    border-radius: 20px;
    background-image: url('../assets/img/profile.jpeg');

    @media(min-width: 768px) {
        width: 672px;
        height: 450px;
    }

    @media(min-width: 1440px) {
        width: 624px;
        height: 624px;
    }
}


.about__image {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    background-image: url('../assets/img/profile.jpeg');

    @media(min-width: 768px) {
        width: 450px;
        height: 400px;
    };
    
    @media(min-width: 1440px) {
        width: 550px;
        height: 500px;
    };
}

.project__image {
    width: 220px;
    height: 240px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');

    @media(min-width: 768px) {
        width: 532px;
        height: 400px;
    };
    
    @media(min-width: 1440px) {
        width: 550px;
        height: 500px;
    };
}

.skills__icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');
}

.certification__image {
    width: 220px;
    height: 240px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');

    @media(min-width: 768px) {
        width: 532px;
        height: 400px;
    };
    
    @media(min-width: 1440px) {
        width: 550px;
        height: 500px;
    };
}

.institut__image {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');
}