
.img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header__logo {
    width: 80px;
    height: 40px;
    background-image: url('../assets/img/Logo-Chrisjv87.svg');

    @media(min-width: 768px) {
        width: 100px;
        height: 50px;
    }

    @media(min-width: 1440px) {
        width: 120px;
        height: 60px;
    }
}

.hero__image {
    width: 271px;
    height: 361px;
    margin: 12px;
    border-radius: 20px;
    background-image: url('../assets/img/profile.jpeg');
    
    @media(min-width: 768px) {
        width: 504px;
        height: 624px;
        margin: 16px;
    }
    
    @media(min-width: 1440px) {
        width: 460px;
        height: 560px;
        margin: 24px;
    }
}


.about__image {
    width: 239px;
    height: 371px;
    margin: 12px;
    border-radius: 20px;
    background-image: url('../assets/img/about-me.jpeg');

    @media(min-width: 768px) {
        width: 368px;
        height: 468px;
        margin: 16px;
    };
    
    @media(min-width: 1440px) {
        width: 452px;
        height: 652px;
        margin: 24px;
    };
}

.project__image {
    width: 187px;
    height: 137px;
    margin: 12px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');

    @media(min-width: 768px) {
        width: 478px;
        height: 318px;
        margin: 16px;
    };
    
    @media(min-width: 1440px) {
        width: 538px;
        height: 388px;
        margin: 24px;
    };
}

.skills__icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');
}

.certification__image {
    width: 187px;
    height: 137px;
    margin: 12px;
    border-radius: 20px;
    background-image: url('../assets/img/projects.jpg');
    
    @media(min-width: 768px) {
        width: 478px;
        height: 318px;
        margin: 16px;
    };
    
    @media(min-width: 1440px) {
        width: 538px;
        height: 388px;
        margin: 24px;
    };
}