<div class="hero__profile">
    <img class="hero__image" aria-label="Hombre de aprox 29 años con playera verde." />
    <h1 class="hero__title">Hola, soy <br>Christopher Jiménez</h1>
    <p class="hero__subtitle">Desarrollador Frontend</p>
    <a class="hero__button button" href="#">Mis proyectos</a>

</div>
<section class="hero__cards" id="card">
    <div class="cards__container">
        <div class="card__about cards">
            <a class="card__button button" href="#">Acerca de mi</a>
        </div>
        <div class="card__projects cards">
            <a class="card__button button" href="#">Proyectos</a>
        </div>
        <div class="card__skills cards">
            <a class="card__button button" href="#">Habilidades</a>
        </div>
        <div class="card__certifications cards">
            <a class="card__button button" href="#">Certificaciones</a>
        </div>
    </div>
</section>