
.certification__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    margin: 16px;
    border-radius: 20px;

    .certification__title {
        margin: 24px;
        margin-bottom: 16px;
    }

    .certification__description {
        margin: 0 24px;
    }

    .certification__social {
        margin: 24px;
        margin-top: 0;
    }

    .certification__card {
        display: flex;
        width: 295px;
        margin: 16px 24px;
        flex-direction: column;
        border-radius: 15px;
        gap: 12px;

        .certification__buttons {
            display: flex;
            width: 279px;
            margin: 16px 8px 0 8px;
            align-items: center;

            .certification__containerImg {
                display: flex;
                width: 211px;
                height: 159px;
                margin: 4px;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                // border: 1px solid black;
            }
        }

        .certification__content {
            display: flex;
            width: 263px;
            margin: 16px;
            margin-top: 0;
            flex-direction: column;
            text-align: center;
            gap: 8px;
        }
    }

    @media(min-width: 768px) {
        width: 720px;
        margin: 24px;

        .certification__title {
            margin: 32px;
            margin-bottom: 24px;
        }
    
        .certification__description {
            margin: 0 32px;
        }
    
        .certification__social {
            margin: 32px;
            margin-top: 0;
        }

        .certification__card {
            width: 656px;
            margin: 24px 32px;
            gap: 16px;

            .certification__buttons {
                display: flex;
                width: 608px;
                margin: 24px;
                margin-bottom: 0;

    
                .certification__containerImg {
                    display: flex;
                    width: 510px;
                    height: 350px;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid black;
                }
            }

            .certification__content {
                display: flex;
                width: 600px;
                margin: 24px;
                margin-top: 0;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 12px;
            }
        }
    }

    @media(min-width: 1440px) {
        width: 1376px;
        margin: 32px;

        .certification__title {
            margin: 48px;
            margin-bottom: 32px;
        }
    
        .certification__description {
            margin: 0 48px;
        }
    
        .certification__social {
            margin: 48px;
            margin-top: 0;
        }

        .certification__card {
            width: 1280px;
            height: 600px;
            margin: 32px 48px;
            flex-direction: row-reverse;
            gap: 0;

            .certification__buttons {
                display: flex;
                width: 714px;
                margin: 32px;
                margin-left: 0;

    
                .certification__containerImg {
                    display: flex;
                    width: 586px;
                    height: 436px;
                    // border: 1px solid black;
                }
            }

            .certification__content {
                display: flex;
                width: 500px;
                margin: 32px;
                margin-right: 0;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                gap: 16px;
            }
        }
    }
}