
.certification__container {
    display: flex;
    width: calc(100vw - 3.2rem);
    margin: 1.6rem;
    gap: 1.6rem;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    .certification__title {
        margin: 2.4rem;
        margin-bottom: 0;
    }

    .certification__description {
        margin: 0 2.4rem;
    }

    .certification__social {
        margin: 2.4rem;
        margin-top: 0;
    }

    .certification__card {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .certification__buttons {
            display: flex;
            width: calc(100% - 3.2rem);
            align-items: center;
            justify-content: center;
            margin: 0 1.6rem;

            .certification__containerImg {
                display: flex;
                min-width: 24rem;
                max-width: 40rem;
                margin: 0 1.2rem;
                align-items: center;
                justify-content: center;
            }
        }

        .certification__content {
            display: flex;
            width: calc(100% - 4.8rem);
            margin: 0 2.4rem;
            flex-direction: column;
            text-align: center;
            gap: .8rem;
        }
    }

    @media(min-width: 768px) {
        width: calc(100vw - 4.8rem);
        margin: 2.4rem;
        gap: 2.4rem;

        .certification__title {
            margin: 3.2rem;
            margin-bottom: 0;
        }
    
        .certification__description {
            margin: 0 3.2rem;
        }
    
        .certification__social {
            margin: 3.2rem;
            margin-top: 0;
        }

        .certification__card {
            gap: 2.4rem;

            .certification__buttons {
                width: calc(100% - 4.8rem);
                margin: 0 2.4rem;
    
                .certification__containerImg {
                    min-width: 40rem;
                    max-width: 60rem;
                    margin: 0 1.6rem;
                }
            }

            .certification__content {
                width: calc(100% - 6.4rem);
                margin: 0 3.2rem;
                margin-top: 0;
                gap: 1.2rem;
            }
        }
    }

    @media(min-width: 1440px) {
        width: calc(100vw - 6.4rem);
        margin: 3.2rem;
        gap: 3.2rem;

        .certification__title {
            margin: 4.8rem;
            margin-bottom: 0;
        }
    
        .certification__description {
            margin: 0 4.8rem;
        }
    
        .certification__social {
            margin: 4.8rem;
            margin-top: 0;
        }

        .certification__card {
            gap: 3.2rem;
            flex-direction: row-reverse;

            .certification__buttons {
                width: calc(100% - 9.6rem);
                margin-right: 4.8rem;
                margin-left: 0;
    
                .certification__containerImg {
                    min-width: 60rem;
                    max-width: 80rem;
                    margin: 0 2.4rem;
                }
            }

            .certification__content {
                width: calc(100% - 9.6rem);
                margin-left: 4.8rem;
                margin-right: 0;
                gap: 1.6rem;
            }
        }
    }
}