.footer__container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 3.2rem);
    margin: 1.6rem;

    .divide {
        flex-grow: 1;
        margin: 0 1rem;
        border-top: 1px solid black;
    }

    .footer__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        
    }

    .footer__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.6rem;
        gap: 1.6rem;

        .footer__resources {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;

            .footer__content {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                .footer__training {
                    width: 15rem;
                }
                .footer__consult {
                    width: 16.1rem;
                    h3 {
                        margin: 1.6rem;
                        margin-right: 0;
                    }
                }
            }
        }
        
        .footer__website {
            width: 15.5rem;
        }

    }

    .footer__social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }

    .footer__rights {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        margin-bottom: 1.6rem;
    }

    @media(min-width: 768px) {
        .footer__cards {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            gap: 0;

            .footer__resources {
                width: 70%;
                .footer__content {
                    justify-content: space-evenly;
                    .footer__consult, .footer__training {
                        width: 21.7rem;
                    }
                }
            }

            .footer__website {
                width: 20rem;
            }
            
        }
    }
    
    @media(min-width: 1440px) {

        .footer__cards {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            gap: 0;


            .footer__resources {
                width: 50%;
                align-items: flex-start;
                .footer__sub {
                    padding-left: 10rem;
                }
                .footer__content {
                    width: 100%;
                    justify-content: space-between;
                    .footer__consult, .footer__training {
                        width: 40%;
                    }
                    
                }
            }

            .footer__website {
                width: 20%;
            }
            
        }
    }
}