* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: 590px;

    .footer__social-media {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    @media(min-width: 768px) {
        width: 712px;
        height: 440px;

        .footer__cards {
            display: flex;
            justify-content: space-between;  
        }
    }
    
    @media(min-width: 1440px) {
        width: 1368px;
        height: 558px;

        .footer__cards {
            justify-content: flex-start;
            gap: 30px;
        }
    }
}