* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    width: 343px;
    
    .divide {
        flex-grow: 1;
        margin: 0 10px;
        border-top: 1px solid black;
    }
    .footer__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .footer__cards {
        display: flex;
        flex-direction: column;
        margin: 16px;
        gap: 16px;

        .footer__resources {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;

            .footer__content {
                display: flex;
                align-items: flex-end;
                .footer__training {
                    width: 150px;
                    align-items: center;
                }
                .footer__consult {
                    width: 161px;
                    align-items: center;
                }
            }
        }
        
        .footer__website {
            width: 155.5px;
            padding: 20px;
        }

    }

    .footer__social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3px;
    }

    .footer__rights {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    @media(min-width: 768px) {
        width: 712px;
        .footer__cards {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 0;

            .footer__resources {
                width: 434px;
                .footer__content {
                    width: 434px;
                    .footer__consult, .footer__training {
                        width: 217px;
                    }
                }
            }

            .footer__website {
                width: 238px;
            }
            
        }
    }
    
    @media(min-width: 1440px) {
        width: 1368px;

        .footer__cards {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 0;

            .footer__resources {
                width: 856px;
                .footer__content {
                    width: 856px;
                    .footer__consult, .footer__training {
                        width: 428px;
                    }
                }
            }

            .footer__website {
                width: 456px;
            }
            
        }
    }
}