

.header__button {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    border: 0;
    .header__icon {
        display: block;
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../assets/icons/Icon-Menu-Burger.svg');
        background-color: white;

    }
    @media(min-width: 768px) {
        .header__icon {
            width: 40px;
            height: 40px;
        }
    }
}

.button__prevBtn {
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: white;
    
    .prevBtn {
        background-image: url('../assets/icons/navigate_before.svg');
    }
}

.button__nextBtn {
    display: inline-block;
    padding: 0;
    border: 0;
    background-color: white;

    .nextBtn {
        background-image: url('../assets/icons/navigate_next.svg');
    }
}

.btn {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

    @media (min-width: 768px) {
        width: 45px;
        height: 45px;
    }

    @media (min-width: 1440px) {
        width: 60px;
        height: 60px;
    }
}

@mixin button-common {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

.hero__button {
    // @include button-common;
    background-color: rgb(255, 255, 255); /* Fondo oscuro semitransparente */
    color: rgb(0, 0, 0); /* Texto blanco */
    padding: 0.8rem 1.5rem; /* Espaciado interno */
    font-size: 2rem; /* Tamaño de fuente */
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.985); /* Sombra ligera */
    text-align: center;
    transition: all 0.3s ease; /* Transición suave */
    line-height: 20px;
    text-decoration: none;

    @media(min-width: 768px) {
        width: 250px;
        height: 40px;
    }

    @media(min-width: 1440px) {
        width: 300px;
        height: 50px;
        line-height: 25px;
    }
}

.hero__button:hover {
    background-color: rgba(0, 0, 0, 1); /* Fondo claro en hover */
    color: rgb(255, 255, 255); /* Texto oscuro */
    box-shadow: 0px 0px 20px 1px rgb(255, 255, 255); /* Sombra ligera */

}

.card__button {
    // @include button-common;
    background-color: rgba(0, 0, 0, .6); /* Fondo oscuro semitransparente */
    color: white; /* Texto blanco */
    padding: 0.8rem 1.5rem; /* Espaciado interno */
    font-size: 2rem; /* Tamaño de fuente */
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.749); /* Sombra ligera */
    text-align: center;
    transition: all 0.3s ease; /* Transición suave */
    line-height: 20px;

    @media(min-width: 768px) {
        width: 240px;
        height: 50px;
        line-height: 25px;
    }

    @media(min-width: 1440px) {
        width: 354px;
        height: 60px;
        line-height: 30px;
    }

}

.card__button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo claro en hover */
    color: black; /* Texto oscuro */
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.319); /* Sombra ligera */

}