* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cards__container {
    display: flex;
    width: 343px;
    height: 968px;
    flex-direction: column;
    justify-content: space-between;

    .card__about {
        background-image: url('../../../../public/assets/img/about-me.jpeg');
    }

    .card__projects {
        background-image: url('../../../../public/assets/img/projects.jpg');
    }

    .card__skills {
        background-image: url('../../../../public/assets/img/skills.jpg');
    }

    .card__certifications {
        background-image: url('../../../../public/assets/img/certifications.jpg');
    }
}