<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Landing page personal de Christopher Jiménez, Desarrollador Web.">
        <meta name="author" content="Chrisjv87">
        <title>Chrisjv87</title>
        <link rel="stylesheet" href="../../../public/css/main.css">
    </head>
    <body>
        <header class="header">
            <nav class="header__nav" aria-label="Menú principal">
                <a class="header__logo" href="#" aria-label="Logo de [Tu Nombre]">[Tu Logo]</a>
                
                <ul class="header__menu">
                    <li class="header__item">
                        <a class="header__link" href="#footer">Contacto</a>
                    </li>
                </ul>

                <button class="header__menu-toggle" aria-label="Abrir menú de navegación">
                    <span class="header__menu-icon" aria-hidden="true"></span>
                </button>
            </nav>
        </header>

        <main class="hero" id="hero">
            <div class="hero__card">
                <img class="hero__image" src="[URL de tu imagen]" alt="[Descripción de la imagen]" />
                <h1 class="hero__title">¡Hola, soy [Tu Nombre]!</h1>
                <h2 class="hero__subtitle">Desarrollador web apasionado por la tecnología y el diseño</h2>
                <button class="hero__button" href="#cards">Ver mis proyectos</button>
            </div>
        </main>

        <section class="cards" id="cards">
            <div class="cards__container">
                <div class="card">
                    <img class="card__image" src="[URL de tu imagen 1]" alt="[Descripción de la imagen 1]" />
                    <a class="card__button" href="[URL de destino 1]" >Ver Proyecto 1</a>
                </div>
                <div class="card">
                    <img class="card__image" src="[URL de tu imagen 1]" alt="[Descripción de la imagen 1]" />
                    <a class="card__button" href="[URL de destino 1]" >Ver Proyecto 1</a>
                </div>
                <div class="card">
                    <img class="card__image" src="[URL de tu imagen 1]" alt="[Descripción de la imagen 1]" />
                    <a class="card__button" href="[URL de destino 1]" >Ver Proyecto 1</a>
                </div>
                <div class="card">
                    <img class="card__image" src="[URL de tu imagen 1]" alt="[Descripción de la imagen 1]" />
                    <a class="card__button" href="[URL de destino 1]" >Ver Proyecto 1</a>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__social-media">
                <div class="footer__icons">
                    <a href="[URL de la red social 1]" aria-label="Red social 1">
                        <img src="[URL del icono de red social 1]" alt="Icono de red social 1" />
                    </a>
                    <a href="[URL de la red social 2]" aria-label="Red social 2">
                        <img src="[URL del icono de red social 2]" alt="Icono de red social 2" />
                    </a>
                    <a href="[URL de la red social 3]" aria-label="Red social 3">
                        <img src="[URL del icono de red social 3]" alt="Icono de red social 3" />
                    </a>
                    <a href="[URL de la red social 4]" aria-label="Red social 4">
                        <img src="[URL del icono de red social 4]" alt="Icono de red social 4" />
                    </a>
                    <a href="[URL de la red social 5]" aria-label="Red social 5">
                        <img src="[URL del icono de red social 5]" alt="Icono de red social 5" />
                    </a>
                </div>
                <img class="footer__logo" src="[URL del logo]" alt="Logo" />
            </div>
        
            <div class="footer__cards">
                <div class="footer__links-group">
                    <h3 class="footer__links-title">Título 1</h3>
                    <ul class="footer__links-options">
                        <li><a href="[URL de enlace 1]">Enlace 1</a></li>
                        <li><a href="[URL de enlace 2]">Enlace 2</a></li>
                        <li><a href="[URL de enlace 3]">Enlace 3</a></li>
                        <li><a href="[URL de enlace 4]">Enlace 4</a></li>
                        <li><a href="[URL de enlace 5]">Enlace 5</a></li>
                    </ul>
                </div>
        
                <div class="footer__links-group">
                    <h3 class="footer__links-title">Título 2</h3>
                    <ul class="footer__links-options">
                        <li><a href="[URL de enlace 6]">Enlace 6</a></li>
                        <li><a href="[URL de enlace 7]">Enlace 7</a></li>
                        <li><a href="[URL de enlace 8]">Enlace 8</a></li>
                        <li><a href="[URL de enlace 9]">Enlace 9</a></li>
                        <li><a href="[URL de enlace 10]">Enlace 10</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>