<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
        <link rel="stylesheet" href="../../../../public/css/main.css">
    </head>
    <body>
        <header class="header" id="header"></header>

        <main>
            <section class="project__container">
                <h1 class="project__title">Mis Proyectos</h1>
                <div class="project__card">
                    <h2 class="project__subtitle">Título del Proyecto</h2>
                    <img class="project__image" aria-label="proyecto">
                    <p class="project__text">Descripción breve: Explica qué hace el proyecto y por qué es importante.</p>
                    <p class="project__text">Tecnologías utilizadas: Lista las herramientas y lenguajes de programación que utilizaste.</p>
                    <a class="project__enlace" href="#">Ver Proyecto</a>
                    <a class="project__enlace" href="#">Ver Codigo</a>
                </div>
                
                <!-- Más proyectos -->
            </section>
        </main>

        <footer class="footer" id="footer"></footer>
        <script src="../../../../public/js/template.js"></script>
    </body>
</html>