html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 1.6;
  font-weight: 700;
  text-align: center;
  color: black;
  letter-spacing: 0.5px;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  color: black;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  color: black;
}

.subtext {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  color: black;
}

.link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
.link:hover {
  text-decoration: underline;
  color: blue;
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 1.4;
  }
  .subtitle {
    font-size: 24px;
    line-height: 1.5;
  }
  .text {
    font-size: 18px;
    line-height: 1.6;
  }
  .subtext {
    font-size: 16px;
    line-height: 1.5;
  }
  .link {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .title {
    font-size: 48px;
    line-height: 1.3;
  }
  .subtitle {
    font-size: 32px;
    line-height: 1.4;
  }
  .text {
    font-size: 20px;
    line-height: 1.5;
  }
  .subtext {
    font-size: 18px;
    line-height: 1.4;
  }
  .link {
    font-size: 18px;
  }
}
.header__button {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  border: 0;
}
.header__button .header__icon {
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/icons/Icon-Menu-Burger.svg");
  background-color: white;
}
@media (min-width: 768px) {
  .header__button .header__icon {
    width: 40px;
    height: 40px;
  }
}

.button__prevBtn {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: white;
}
.button__prevBtn .prevBtn {
  background-image: url("../assets/icons/navigate_before.svg");
}

.button__nextBtn {
  display: inline-block;
  padding: 0;
  border: 0;
  background-color: white;
}
.button__nextBtn .nextBtn {
  background-image: url("../assets/icons/navigate_next.svg");
}

.btn {
  display: block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}
@media (min-width: 768px) {
  .btn {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 1440px) {
  .btn {
    width: 60px;
    height: 60px;
  }
}

.hero__button {
  width: 20rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.985);
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero__button {
    width: 25rem;
    height: 5rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
@media (min-width: 1440px) {
  .hero__button {
    width: 30rem;
    height: 6rem;
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

.hero__button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px 1px rgb(255, 255, 255);
}

.card__button {
  width: 18rem;
  height: 4rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.749);
  text-align: center;
  transition: all 0.3s ease;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .card__button {
    width: 22rem;
    height: 5rem;
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
@media (min-width: 1440px) {
  .card__button {
    width: 26rem;
    height: 6rem;
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

.card__button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.319);
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .icon {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 1440px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}

.icon__linkedin {
  background-image: url("../assets/icons/Icon-Linkdin.svg");
}

.icon__github {
  background-image: url("../assets/icons/Icon-Github.svg");
}

.icon__whatsapp {
  background-image: url("../assets/icons/Icon-Whatsapp.svg");
}

.icon__gmail {
  background-image: url("../assets/icons/Icon-Gmail.svg");
}

.icon__figma {
  background-image: url("../assets/icons/Icon-Figma.svg");
}

.img {
  display: inline-block;
  object-fit: cover;
}

.header__logo {
  width: 80px;
  height: 40px;
  background-image: url("../assets/img/Logo-Chrisjv87.svg");
}
@media (min-width: 768px) {
  .header__logo {
    width: 100px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    width: 120px;
    height: 60px;
  }
}

.hero__image {
  width: 271px;
  height: 361px;
  margin: 12px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .hero__image {
    width: 368px;
    height: 468px;
    margin: 16px;
  }
}
@media (min-width: 1440px) {
  .hero__image {
    width: 460px;
    height: 560px;
    margin: 24px;
  }
}

.about__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.project__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.skills__icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url("../assets/img/projects.jpg");
}

.certification__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card__content {
  display: flex;
  width: 100%;
  height: 22.5rem;
  align-items: center;
  justify-content: center;
}
.card__content .card__image {
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 30.3rem;
  max-width: 62rem;
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__content .card__image .card__button {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .card__content {
    height: 35rem;
  }
  .card__content .card__image {
    min-width: 62rem;
    max-width: 140rem;
    height: 100%;
  }
}
@media (min-width: 1440px) {
  .card__content {
    height: 40rem;
  }
  .card__content .card__image {
    min-width: 50rem;
    max-width: 150rem;
    height: 100%;
  }
}

.footer__icons {
  display: flex;
  width: 170px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__icons {
    width: 220px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .footer__icons {
    width: 270px;
    height: 60px;
  }
}

.footer__links-group {
  width: 343px;
}
.footer__links-group .footer__links-title {
  text-align: start;
  margin: 16px;
}
.footer__links-group .footer__links-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
  padding: 0 16px;
  list-style: none;
}
@media (min-width: 768px) {
  .footer__links-group {
    width: 346px;
  }
  .footer__links-group .footer__links-title {
    margin: 18px;
  }
  .footer__links-group .footer__links-options {
    margin: 18px;
    padding: 0 18px;
  }
}
@media (min-width: 1440px) {
  .footer__links-group {
    width: 440px;
  }
  .footer__links-group .footer__links-title {
    margin: 20px;
  }
  .footer__links-group .footer__links-options {
    margin: 20px;
    padding: 0 20px;
  }
}

.header__menu {
  height: 30px;
  position: relative;
}
.header__menu .header__options {
  position: absolute;
  width: 16rem;
  flex-direction: column;
  right: 20%;
  top: 150%;
  list-style: none;
  background-color: white;
  border-radius: 15px;
}
.header__menu .header__options a {
  padding: 1.2rem;
  display: block;
  text-decoration: none;
  color: black;
}
.header__menu .header__options a:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .header__menu {
    height: 40px;
  }
}
@media (min-width: 1440px) {
  .header__menu .header__button {
    display: none;
  }
  .header__menu .header__options {
    display: flex;
    position: static;
    width: 80rem;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: none;
    box-shadow: none;
  }
}

.header__container {
  display: flex;
  width: 100vw;
  height: 50px;
  padding: 0 1.6rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 20px 20px;
}
@media (min-width: 768px) {
  .header__container {
    height: 60px;
    padding: 0 2.4rem;
  }
}
@media (min-width: 1440px) {
  .header__container {
    height: 70px;
    padding: 0 3.2rem;
  }
}

.hero__profile {
  display: flex;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
  margin-bottom: 3.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  gap: 1.6rem;
}
.hero__profile .hero__container-img {
  display: flex;
  width: 100%;
  height: 38.5rem;
  margin-top: 2.4rem;
  justify-content: center;
  align-items: center;
}
.hero__profile .hero__content {
  display: flex;
  width: 100%;
  margin-bottom: 3.6rem;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .hero__profile {
    width: calc(100vw - 4.8rem);
    margin: 2.4rem;
    margin-bottom: 4.8rem;
    gap: 2.4rem;
  }
  .hero__profile .hero__container-img {
    width: 100%;
    height: 50rem;
    margin-top: 3.2rem;
  }
  .hero__profile .hero__content {
    width: 100%;
    margin-bottom: 4.8rem;
    gap: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .hero__profile {
    width: calc(100vw - 6.4rem);
    margin: 3.2rem;
    margin-bottom: 6.4rem;
    flex-direction: row-reverse;
    gap: 3.2rem;
  }
  .hero__profile .hero__container-img {
    width: 51rem;
    height: 61rem;
    margin: 4.8rem;
  }
  .hero__profile .hero__content {
    width: auto;
    margin: 4.8rem;
    gap: 3.2rem;
  }
}

.hero__cards {
  display: flex;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}
.hero__cards .card__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .hero__cards {
    width: calc(100vw - 4.8rem);
    margin: 2.4rem;
  }
  .hero__cards .card__container {
    padding: 3.2rem;
    gap: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .hero__cards {
    width: calc(100vw - 6.4rem);
    margin: 3.2rem;
  }
  .hero__cards .card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    padding: 4.8rem;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
}
.footer__container .divide {
  flex-grow: 1;
  margin: 0 1rem;
  border-top: 1px solid black;
}
.footer__container .footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.footer__container .footer__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.6rem;
  gap: 1.6rem;
}
.footer__container .footer__cards .footer__resources {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.footer__container .footer__cards .footer__resources .footer__content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.footer__container .footer__cards .footer__resources .footer__content .footer__training {
  width: 15rem;
}
.footer__container .footer__cards .footer__resources .footer__content .footer__consult {
  width: 16.1rem;
}
.footer__container .footer__cards .footer__resources .footer__content .footer__consult h3 {
  margin: 1.6rem;
  margin-right: 0;
}
.footer__container .footer__cards .footer__website {
  width: 15.5rem;
}
.footer__container .footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.footer__container .footer__rights {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .footer__container .footer__cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 0;
  }
  .footer__container .footer__cards .footer__resources {
    width: 70%;
  }
  .footer__container .footer__cards .footer__resources .footer__content {
    justify-content: space-evenly;
  }
  .footer__container .footer__cards .footer__resources .footer__content .footer__consult, .footer__container .footer__cards .footer__resources .footer__content .footer__training {
    width: 21.7rem;
  }
  .footer__container .footer__cards .footer__website {
    width: 20rem;
  }
}
@media (min-width: 1440px) {
  .footer__container .footer__cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 0;
  }
  .footer__container .footer__cards .footer__resources {
    width: 50%;
    align-items: flex-start;
  }
  .footer__container .footer__cards .footer__resources .footer__sub {
    padding-left: 10rem;
  }
  .footer__container .footer__cards .footer__resources .footer__content {
    width: 100%;
    justify-content: space-between;
  }
  .footer__container .footer__cards .footer__resources .footer__content .footer__consult, .footer__container .footer__cards .footer__resources .footer__content .footer__training {
    width: 40%;
  }
  .footer__container .footer__cards .footer__website {
    width: 20%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
body .header {
  position: fixed;
  z-index: 1000;
  background-color: white;
}
@media (min-width: 768px) {
  body .header {
    margin-bottom: 3.2rem;
  }
}
@media (min-width: 1440px) {
  body .header {
    margin-bottom: 4.8rem;
  }
}
body .main {
  padding-top: 7.4rem;
  margin-bottom: 2.4rem;
}
@media (min-width: 768px) {
  body .main {
    padding-top: 8.4rem;
    margin-bottom: 3.2rem;
  }
}
@media (min-width: 1440px) {
  body .main {
    padding-top: 9.4rem;
    margin-bottom: 4.8rem;
  }
}

.about__container {
  display: flex;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
  gap: 1.6rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}
.about__container .about__title {
  margin: 2.4rem;
  margin-bottom: 0;
}
.about__container .about__content {
  width: calc(100% - 4.8rem);
  margin: 2.4rem;
  margin-top: 0;
}
.about__container .about__content .about__containerImg {
  width: 90%;
  min-width: 27rem;
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
}
@media (min-width: 520px) {
  .about__container .about__content .about__containerImg {
    float: right;
    margin: 1.6rem;
    margin-right: 0;
  }
}
.about__container .about__content .about__description {
  margin-top: 0;
}
.about__container .about__content .about__description .about__subtitle {
  margin: 0.8rem;
}
@media (min-width: 768px) {
  .about__container {
    width: calc(100vw - 4.8rem);
    margin: 2.4rem;
    gap: 2.4rem;
  }
  .about__container .about__title {
    margin: 3.2rem;
    margin-bottom: 0;
  }
  .about__container .about__content {
    width: calc(100% - 6.4rem);
    margin: 3.2rem;
    margin-top: 0;
  }
  .about__container .about__content .about__containerImg {
    width: 40%;
    min-width: 30rem;
    max-width: 40rem;
    margin: 2.4rem;
    margin-right: 0;
  }
  .about__container .about__content .about__description .about__subtitle {
    margin: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .about__container {
    width: calc(100vw - 6.4rem);
    margin: 3.2rem;
    gap: 3.2rem;
  }
  .about__container .about__title {
    margin: 48px;
    margin-bottom: 0;
  }
  .about__container .about__content {
    width: calc(100% - 9.6rem);
    margin: 4.8rem;
    margin-top: 0;
  }
  .about__container .about__content .about__containerImg {
    width: 40%;
    min-width: 45rem;
    max-width: 50rem;
    margin: 2.4rem 3.2rem;
    margin-right: 0;
  }
  .about__container .about__content .about__description .about__subtitle {
    margin: 1.6rem;
  }
}

.project__container {
  display: flex;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
  gap: 1.6rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.project__container .project__title {
  margin: 2.4rem;
  margin-bottom: 0;
}
.project__container .project__card {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.project__container .project__card .project__buttons {
  display: flex;
  width: calc(100% - 3.2rem);
  align-items: center;
  justify-content: center;
  margin: 0 1.6rem;
}
.project__container .project__card .project__buttons .project__containerImg {
  display: flex;
  min-width: 24rem;
  max-width: 40rem;
  margin: 0 1.2rem;
  align-items: center;
  justify-content: center;
}
.project__container .project__card .project__content {
  display: flex;
  width: calc(100% - 4.8rem);
  margin: 2.4rem;
  margin-top: 0;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
}
.project__container .project__card .project__content .project__links {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .project__container {
    width: calc(100vw - 4.8rem);
    margin: 2.4rem;
    gap: 2.4rem;
  }
  .project__container .project__title {
    margin: 3.2rem;
    margin-bottom: 0;
  }
  .project__container .project__card {
    gap: 2.4rem;
  }
  .project__container .project__card .project__buttons {
    width: 60%;
    margin: 0 2.4rem;
  }
  .project__container .project__card .project__buttons .project__containerImg {
    min-width: 40rem;
    max-width: 60rem;
    margin: 0 1.6rem;
  }
  .project__container .project__card .project__content {
    width: calc(100% - 6.4rem);
    margin: 3.2rem;
    margin-top: 0;
    gap: 1.2rem;
  }
  .project__container .project__card .project__content .project__links {
    gap: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .project__container {
    width: calc(100vw - 6.4rem);
    margin: 3.2rem;
    gap: 3.2rem;
  }
  .project__container .project__title {
    margin: 4.8rem;
    margin-bottom: 0;
  }
  .project__container .project__card {
    gap: 3.2rem;
    flex-direction: row-reverse;
    margin-bottom: 4.8rem;
  }
  .project__container .project__card .project__buttons {
    width: calc(100% - 9.6rem);
    margin-right: 4.8rem;
    margin-left: 0;
  }
  .project__container .project__card .project__buttons .project__containerImg {
    min-width: 60rem;
    max-width: 80rem;
    margin: 0 2.4rem;
  }
  .project__container .project__card .project__content {
    width: calc(100% - 9.6rem);
    margin: 4.8rem;
    margin-right: 0;
    gap: 1.6rem;
  }
  .project__container .project__card .project__content .project__links {
    margin: 1.6rem;
  }
}

.skills__container {
  display: flex;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
  gap: 1.6rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.skills__container .skills__title {
  margin: 2.4rem;
  margin-bottom: 0;
}
.skills__container .skills__description {
  margin: 0 2.4rem;
}
.skills__container .skills__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 4.8rem);
  margin: 2.4rem;
  margin-top: 0;
  gap: 1.6rem;
}
.skills__container .skills__content .skills__technical {
  width: 100%;
  border-radius: 15px;
}
.skills__container .skills__content .skills__technical .skills__subtitle {
  display: flex;
  height: 4rem;
  margin: 1.6rem;
  align-items: center;
  justify-content: center;
}
.skills__container .skills__content .skills__technical .skills__tlist {
  display: flex;
  width: calc(100% - 3.2rem);
  margin: 1.6rem;
  flex-direction: column;
  gap: 0.8rem;
}
.skills__container .skills__content .skills__technical .skills__tlist .skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.skills__container .skills__content .skills__technical .skills__tlist .skills__item .skills__text {
  width: 80%;
}
.skills__container .skills__content .skills__tools {
  width: 100%;
  border-radius: 15px;
}
.skills__container .skills__content .skills__tools .skills__subtitle {
  display: flex;
  height: 4rem;
  margin: 1.6rem;
  align-items: center;
  justify-content: center;
}
.skills__container .skills__content .skills__tools .skills__tlist {
  display: flex;
  width: calc(100% - 3.2rem);
  margin: 1.6rem;
  flex-direction: column;
  gap: 0.8rem;
}
.skills__container .skills__content .skills__tools .skills__tlist .skills__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.skills__container .skills__content .skills__tools .skills__tlist .skills__item .skills__text {
  width: 80%;
}
.skills__container .skills__content .skills__soft {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 16px;
}
.skills__container .skills__content .skills__soft .skills__subtitle {
  display: flex;
  height: 40px;
  margin: 16px;
  align-items: center;
  justify-content: center;
}
.skills__container .skills__content .skills__soft .skills__slist {
  display: flex;
  width: calc(100% - 3.2rem);
  margin: 1.6rem;
  flex-direction: column;
  gap: 0.8rem;
  list-style: none;
}
@media (min-width: 768px) {
  .skills__container {
    width: calc(100vw - 4.8rem);
    margin: 2.4rem;
    gap: 2.4rem;
  }
  .skills__container .skills__title {
    margin: 0 3.2rem;
  }
  .skills__container .skills__description {
    margin: 0 3.2rem;
  }
  .skills__container .skills__content {
    display: grid;
    width: calc(100% - 6.4rem);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    margin: 3.2rem;
    margin-top: 0;
    gap: 2.4rem;
  }
  .skills__container .skills__content .skills__technical {
    width: 100%;
    height: 580px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .skills__container .skills__content .skills__technical .skills__subtitle {
    height: 70px;
    margin: 24px;
  }
  .skills__container .skills__content .skills__technical .skills__tlist {
    display: flex;
    width: calc(100% - 4.8rem);
    margin: 2.4rem;
    flex-direction: column;
    gap: 8px;
  }
  .skills__container .skills__content .skills__technical .skills__tlist .skills__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .skills__container .skills__content .skills__tools {
    width: 100%;
    height: 580px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .skills__container .skills__content .skills__tools .skills__subtitle {
    height: 70px;
    margin: 24px;
  }
  .skills__container .skills__content .skills__tools .skills__tlist {
    display: flex;
    width: calc(100% - 4.8rem);
    margin: 2.4rem;
    flex-direction: column;
    gap: 8px;
  }
  .skills__container .skills__content .skills__tools .skills__tlist .skills__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .skills__container .skills__content .skills__soft {
    display: flex;
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0;
    gap: 1.6rem;
  }
  .skills__container .skills__content .skills__soft .skills__subtitle {
    height: 40px;
    width: 100%;
    margin: 1.6rem 0;
    margin-bottom: 0;
  }
  .skills__container .skills__content .skills__soft .skills__slist {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: calc(90% - 4.8rem);
    list-style: none;
    gap: 2rem;
    margin-top: 0;
  }
  .skills__container .skills__content .skills__soft .skills__slist li {
    width: 40%;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .skills__container {
    width: calc(100vw - 6.4rem);
    margin: 3.2rem;
    gap: 3.2rem;
  }
  .skills__container .skills__title {
    margin: 4.8rem;
    margin-bottom: 0;
  }
  .skills__container .skills__description {
    margin: 0 4.8rem;
  }
  .skills__container .skills__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - 9.6rem);
    margin: 4.8rem;
    margin-top: 0;
    gap: 3.2rem;
  }
  .skills__container .skills__content .skills__technical {
    width: 100%;
    height: 700px;
  }
  .skills__container .skills__content .skills__technical .skills__subtitle {
    height: 9rem;
    margin: 3.2rem;
  }
  .skills__container .skills__content .skills__technical .skills__tlist {
    display: flex;
    width: calc(100% - 6.4rem);
    margin: 3.2rem;
    flex-direction: column;
    gap: 1.6rem;
  }
  .skills__container .skills__content .skills__technical .skills__tlist .skills__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .skills__container .skills__content .skills__tools {
    width: 100%;
    height: 700px;
  }
  .skills__container .skills__content .skills__tools .skills__subtitle {
    height: 9rem;
    margin: 3.2rem;
  }
  .skills__container .skills__content .skills__tools .skills__tlist {
    display: flex;
    width: calc(100% - 6.4rem);
    margin: 3.2rem;
    flex-direction: column;
    gap: 1.6rem;
  }
  .skills__container .skills__content .skills__tools .skills__tlist .skills__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .skills__container .skills__content .skills__soft {
    width: 100%;
    height: 700px;
    align-items: center;
  }
  .skills__container .skills__content .skills__soft .skills__subtitle {
    height: 9rem;
    margin: 3.2rem 0;
  }
  .skills__container .skills__content .skills__soft .skills__slist {
    display: flex;
    width: calc(100% - 6.4rem);
    margin: 3.2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
  .skills__container .skills__content .skills__soft .skills__slist li {
    width: 100%;
    text-align: left;
  }
}

.certification__container {
  display: flex;
  width: calc(100vw - 3.2rem);
  margin: 1.6rem;
  gap: 1.6rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.certification__container .certification__title {
  margin: 2.4rem;
  margin-bottom: 0;
}
.certification__container .certification__description {
  margin: 0 2.4rem;
}
.certification__container .certification__social {
  margin: 2.4rem;
  margin-top: 0;
}
.certification__container .certification__card {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.certification__container .certification__card .certification__buttons {
  display: flex;
  width: calc(100% - 3.2rem);
  align-items: center;
  justify-content: center;
  margin: 0 1.6rem;
}
.certification__container .certification__card .certification__buttons .certification__containerImg {
  display: flex;
  min-width: 24rem;
  max-width: 40rem;
  margin: 0 1.2rem;
  align-items: center;
  justify-content: center;
}
.certification__container .certification__card .certification__content {
  display: flex;
  width: calc(100% - 4.8rem);
  margin: 0 2.4rem;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
}
@media (min-width: 768px) {
  .certification__container {
    width: calc(100vw - 4.8rem);
    margin: 2.4rem;
    gap: 2.4rem;
  }
  .certification__container .certification__title {
    margin: 3.2rem;
    margin-bottom: 0;
  }
  .certification__container .certification__description {
    margin: 0 3.2rem;
  }
  .certification__container .certification__social {
    margin: 3.2rem;
    margin-top: 0;
  }
  .certification__container .certification__card {
    gap: 2.4rem;
  }
  .certification__container .certification__card .certification__buttons {
    width: calc(100% - 4.8rem);
    margin: 0 2.4rem;
  }
  .certification__container .certification__card .certification__buttons .certification__containerImg {
    min-width: 40rem;
    max-width: 60rem;
    margin: 0 1.6rem;
  }
  .certification__container .certification__card .certification__content {
    width: calc(100% - 6.4rem);
    margin: 0 3.2rem;
    margin-top: 0;
    gap: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .certification__container {
    width: calc(100vw - 6.4rem);
    margin: 3.2rem;
    gap: 3.2rem;
  }
  .certification__container .certification__title {
    margin: 4.8rem;
    margin-bottom: 0;
  }
  .certification__container .certification__description {
    margin: 0 4.8rem;
  }
  .certification__container .certification__social {
    margin: 4.8rem;
    margin-top: 0;
  }
  .certification__container .certification__card {
    gap: 3.2rem;
    flex-direction: row-reverse;
  }
  .certification__container .certification__card .certification__buttons {
    width: calc(100% - 9.6rem);
    margin-right: 4.8rem;
    margin-left: 0;
  }
  .certification__container .certification__card .certification__buttons .certification__containerImg {
    min-width: 60rem;
    max-width: 80rem;
    margin: 0 2.4rem;
  }
  .certification__container .certification__card .certification__content {
    width: calc(100% - 9.6rem);
    margin-left: 4.8rem;
    margin-right: 0;
    gap: 1.6rem;
  }
}

.sint {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.simg {
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.1), 0px 15px 20px 10px rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=main.css.map */
