* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    gap: 15px;
    
    .skills__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 311px;
        padding: 10px;
        border: 1px solid black;
        gap: 15px;

        .skills__technical {
            width: 279px;
            padding: 10px;
            gap: 10px;
            border: 1px solid black;
    
            .skills__tlist {
                display: flex;
                flex-direction: column;
                gap: 5px;
    
                .skills__item {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                }
            }
        }

        .skills__tools {
            width: 279px;
            padding: 10px;
            gap: 10px;
            border: 1px solid black;
            
            .skills__tlist {
                display: flex;
                flex-direction: column;
                gap: 5px;
    
                .skills__item {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                }
            }
        }
    
        .skills__soft {
            width: 279px;
            padding: 10px;
            gap: 5px;
            border: 1px solid black;
    
            .skills__slist {
                list-style: none;
            }
        }
    }

    @media(min-width: 768px) {
        width: 712px;

        .skills__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            justify-items: center;
            width: 672px;
            column-gap: 0;
            row-gap: 20px;
            padding: 20px 10px;

            .skills__technical {
                width: 306px;
                height: 500px;
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .skills__tools {
                width: 306px;
                height: 500px;
                grid-column: 2/3;
                grid-row: 1/2;
            }

            .skills__soft {
                width: 632px;
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }
    }

    @media(min-width: 1440px) {
        width: 1368px;

        .skills__content {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 1312px;

            .skills__technical {
                width: 350px;
                height: 600px;
            }
    
            .skills__tools {
                width: 350px;
                height: 600px;
            }
    
            .skills__soft {
                width: 350px;
                height: 600px;
            }
        }

    }
}