* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 343px;
    padding: 10px;
    gap: 15px;
    border: 1px solid black;

    .skills__technical {
        display: flex;
        flex-direction: column;
        width: 311px;
        padding: 10px;
        gap: 10px;
        border: 1px solid black;

        .skills__tlist {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .skills__item {
                display: flex;
                gap: 20px;
            }
        }
    }

    .skills__tools {
        display: flex;
        flex-direction: column;
        width: 311px;
        padding: 10px;
        gap: 10px;
        border: 1px solid black;
        
        .skills__tlist {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .skills__item {
                display: flex;
                gap: 20px;
            }
        }
    }

    .skills__soft {
        display: flex;
        flex-direction: column;
        width: 311px;
        padding: 10px;
        gap: 5px;
        border: 1px solid black;

        .skills__slist {
            list-style: none;
        }
    }

    @media(min-width: 768px) {
        width: 672px;
    }

    @media(min-width: 1440px) {
        width: 1368px;
    }
}