
.header__menu {
    height: 30px;
    position: relative;

    .header__options {
        position: absolute;
        width: 160px;
        flex-direction: column;
        right: 0;
        top: 100%;
        list-style: none;
        background-color: white;
        border: 1px solid black;
            
        a {
            padding: 12px;
            display: block;
            text-decoration: none;
            color: black;
            
            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    @media(min-width: 768px) {
        height: 40px;
    }
    
    @media(min-width: 1440px) {
        .header__button {
            display: none;
        }
    
        .header__options {
            display: flex;
            position: static;
            width: 800px;
            height: 40px;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            background-color: white;
            border: none;
            padding: 10px;
        }
    }
}




    


