.header__menu {
    height: 30px;
    position: relative;

    .header__options {
        position: absolute;
        width: 16rem;
        flex-direction: column;
        right: 20%;
        top: 150%;
        list-style: none;
        background-color: white;
        border-radius: 15px;
            
        a {
            padding: 1.2rem;
            display: block;
            text-decoration: none;
            color: black;
            
            &:hover {
                background-color: #f1f1f1;
                border-radius: 15px;
            }
        }
    }

    @media(min-width: 768px) {
        height: 40px;
    }
    
    @media(min-width: 1440px) {
        .header__button {
            display: none;
        }
    
        .header__options {
            display: flex;
            position: static;
            width: 80rem;
            height: 40px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border: none;
            box-shadow: none;
        }
    }
}




    


