* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero__profile {
    display: flex;
    width: 343px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    margin: 16px;

    .hero__container-img {
        display: flex;
        width: 295px;
        height: 385px;
        margin: 24px;
        margin-bottom: 0;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 303px;
        margin: 24px;
    }



    @media(min-width: 768px) {
        width: 720px;
        margin: 24px;

        .hero__container-img {
            width: 536px;
            height: 656px;
            margin: 32px;
            margin-bottom: 0;
        }
        
        .hero__content {
            width: 652px;
            margin: 32px;
            
        }
    }

    @media(min-width: 1440px) {
        width: 1368px;
        margin: 32px;
        gap: 0;
        flex-direction: row-reverse;
        
        .hero__container-img {
            width: 508px;
            height: 608px;
            margin: 48px;
        }

        .hero__content {
            width: 722px;
            margin: 48px;
            margin-right: 0;
        }
    }
}