
.hero__profile {
    display: flex;
    width: 343px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin: 16px;

    .hero__container-img {
        display: flex;
        width: 295px;
        height: 385px;
        margin: 24px;
        margin-bottom: 16px;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 295px;
        margin: 24px;
        margin-top: 0;
        gap: 12px;
    }



    @media(min-width: 768px) {
        width: 720px;
        margin: 24px;

        .hero__container-img {
            width: 536px;
            height: 656px;
            margin: 32px;
            margin-bottom: 24px;
        }
        
        .hero__content {
            width: 652px;
            margin: 32px;
            margin-top: 0;
            gap: 24px;      
        }
    }

    @media(min-width: 1440px) {
        width: 1368px;
        margin: 32px;
        flex-direction: row-reverse;
        
        .hero__container-img {
            width: 508px;
            height: 608px;
            margin: 48px;
            margin-left: 32px;
        }

        .hero__content {
            width: 740px;
            margin: 48px;
            margin-right: 0;
        }
    }
}