
.hero__profile {
    display: flex;
    width: calc(100vw - 3.2rem);
    margin: 1.6rem;
    margin-bottom: 3.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;

    .hero__container-img {
        display: flex;
        width: 295px;
        height: 385px;
        margin: 24px;
        margin-bottom: 16px;
        justify-content: center;
        align-items: center;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 295px;
        margin: 24px;
        margin-top: 0;
        gap: 12px;
    }



    @media(min-width: 768px) {
        width: calc(100vw - 4.8rem);
        margin: 2.4rem;
        margin-bottom: 4.8rem;

        .hero__container-img {
            width: 536px;
            height: 656px;
            margin: 32px;
            margin-bottom: 24px;
        }
        
        .hero__content {
            width: 652px;
            margin: 32px;
            margin-top: 0;
            gap: 24px;      
        }
    }

    @media(min-width: 1440px) {
        width: calc(100vw - 6.4rem);
        margin: 3.2rem;
        margin-bottom: 6.4rem;
        flex-direction: row-reverse;
        
        .hero__container-img {
            width: 508px;
            height: 608px;
            margin: 48px;
            margin-left: 32px;
        }

        .hero__content {
            width: 740px;
            margin: 48px;
            margin-right: 0;
        }
    }
}