<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/main.css">
</head>
<body>
    <button class="header__options-button" aria-label="Abrir menú de navegación">
        <span class="icon icon--menu" aria-label="Menu"></span>
    </button>

    <a class="hero__button button" href="../projects/project.html">Button Profile</a>

    <a class="card__button button" href="[URL de destino 1]">Button card</a>
</body>
</html>