
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__menu-toggle {
    display: inline-block;
    padding: 0;
    border: 0;
    .icon {
        display: block;
        width: 35px;
        height: 35px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../../../public/assets/icons/Icon-Menu-Burger.svg');
        background-color: white;
    }
}

.button {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    color: black;
    border: 1px solid black;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}