<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="../../../../public/css/main.css">
    </head>
    <body>
        <header class="header" id="header"></header>

        <main>
            <section class="about">
                <h1 class="about__title">Acerca de mí</h1>
                <h2 class="about__subtitle">Hola, soy Christopher Jiménez</h2>
                <img class="about__image" aria-label="Foto de joven de 29 años">
                <p class="about__text">Soy desarrollador web de lado del frontend. Contruyo sitios web dinamicos desde cero con estructuras solidas y escalables mediante Atomic Design, en el HTML y CSS implemento BEM agregando claridad en las secciones de la pagina y reutilización de estilos con pre-procesadores como SASS, tambien implemento su framework de Tailwind. Mi lenguaje de programación principal es JavaScript para hacer dinamico y escalable el sitio, uso de progamacion funcional y orientada a objetos, utilizo React para modularizar el proyecto con componentes y optimizarlo. Puedo crear prototipos base del proyecto con herramientas de diseño como Figma. Mi enfoque es darle al usuario una experiencia agradable, fluida e intuitiva en el sitio web.</p>
                <h2 class="about__subtitle">Experiencia</h2>
                <p class="about_text">Cuento con un año y medio de experiencia trabajando en proyectos personales, mi formación base inició en la escuela de Desarrollo Web de Platzi con la que continuo al día de hoy actualizado y aprendiendo nuevas habilidades técnicas como habilidades blandas aplicando el lema 'NUNCA PARAR DE APRENDER' ya que es indispensable en nuestra industria tecnologica. Puedo incorporarme a proyectos hechos y brindar valor agregado, cuento con conocimientos sobre equipos de trabajo con metodologias Agiles como SCRUM para entregas rápidas con sprints e ir aplicando cambios de manera optima cuando el cliente y el proyecto lo requiera gracias a la comunicación efectiva en equipo y un marco de trabajo sólido.</p>
                <p class="about__text">Contáctame por WhatsApp o Correo de preferencia.</p>
                <h2 class="about__subtitle">Redes Sociales </h2>
            </section>
        </main>

        <footer class="footer" id="footer"></footer>
        <script src="../../../../public/js/template.js"></script>
    </body>
</html>