.card__content {
    display: flex;
    width: 303px;
    height: 217px;
    // border: 1px solid black;
    align-items: center;
    justify-content: center;
    
    .card__image {
        display: inline-block;
        position: relative;
        width: 279px;
        height: 193px;
        margin: 12px;
        border-radius: 20px;
        // border: 1px solid black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
        .card__button {
            display: inline-block;
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    
    }

    @media(min-width: 768px) {
        width: 652px;
        height: 374px;

        .card__image {
            width: 620px;
            height: 342px;
            margin: 16px;
        }
    }
        
    @media(min-width: 1440px) {
        width: 624px;
        height: 346px;

        .card__image {
            width: 576px;
            height: 298px;
            margin: 24px;
        }
    }
}


