<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/main.css">
</head>
<body>
    <div class="hero__card">
        <img class="hero__image" alt="Imagen de perfil, joven de 29 años con playera verde" />
        <h1 class="hero__title">Hola, soy Christopher Jiménez</h1>
        <h4 class="hero__subtitle">Desarrollador Frontend apasionado por la tecnología y el diseño</h4>
        <button class="hero__button button" href="#cards">Ver mis proyectos</button>
    </div>
</body>
</html>