* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cards__container {
    display: flex;
    width: 343px;
    height: 968px;
    flex-direction: column;
    justify-content: space-between;

    .card__about {
        background-image: url('../assets/img/about-me.jpeg');
    }

    .card__projects {
        background-image: url('../assets/img/projects.jpg');
    }

    .card__skills {
        background-image: url('../assets/img/skills.jpg');
    }

    .card__certifications {
        background-image: url('../assets/img/certifications.jpg');
    }

    @media (min-width: 768px) {
        width: 712px;
        height: 1200px;
    }

    @media (min-width: 1440px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        width: 1368px;
        height: 820px;
    }
}