<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../public/css/main.css">
</head>
<body>
    <div class="footer__icons">
        <a href="#" class="icon icon--whatsapp" aria-label="WhatsApp"></a>
        <a href="#" class="icon icon--gmail" aria-label="Gmail"></a>
        <a href="#" class="icon icon--linkedin" aria-label="LinkedIn"></a>
        <a href="#" class="icon icon--github" aria-label="GitHub"></a>
        <a href="#" class="icon icon--figma" aria-label="Figma"></a>
    </div>
</body>
</html>