* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 343px;
    border: 1px solid black;

    .about__title {
        margin: 16px 16px 0px 16px;
    }

    .about__content {
        display: flex;
        flex-direction: column;
        width: 311px;
        align-items: center;
        margin: 16px;
    }


    @media(min-width: 768px) {
        width: 712px;
        .about__title {
            margin: 24px;
        }
        .about__content {
            display: flex;
            flex-direction: column;
            width: 664px;
            margin: 0 24px 24px 24px;


            .about__containerImg {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 474px;
                height: 424px;
                border: 1px solid black;
            }

            .about__description {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 632px;
                padding: 24px;
            }
        }
    }

    @media(min-width: 1440px) {
        width: 1368px;

        .about__title {
            margin: 32px 0 0 0;
        }
        .about__content {
            display: flex;
            flex-direction: row-reverse;
            width: 1304px;
            margin: 0 32px 32px 32px;
            gap: 32px;


            .about__containerImg {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 524px;
                height: 724px;
                border: 1px solid black;
            }

            .about__description {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 748px;
            }
        }
    }
}