* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: 768px) {
        width: 25px;
        height: 25px;
    }

    @media(min-width: 1440px) {
        width: 30px;
        height: 30px;
    }
}

.icon__linkedin {
    background-image: url('../assets/icons/Icon-Linkdin.svg');
}

.icon__github {
    background-image: url('../assets/icons/Icon-Github.svg');
}

.icon__whatsapp {
    background-image: url('../assets/icons/Icon-Whatsapp.svg');
}

.icon__gmail {
    background-image: url('../assets/icons/Icon-Gmail.svg');
}

.icon__figma {
    background-image: url('../assets/icons/Icon-Figma.svg');
}
